<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <!-- google font -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
      <!-- Fontawesome icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
      <!-- own style -->
      <link rel="stylesheet" href="../style.css">
      <title>Dashboard</title>
</head>
<body>

  <!-- NAV -->
  <div class="navbar bg-transparent box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="dashboard" class="navbar-brand d-flex align-items-center">
        <strong>Evergreen</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <a id="navIcon"><i class="col fas fa-bars"></i></a>
      </button>
    </div>
  </div>

  <section id="navPanel">
    <nav id="mainNav" class="navbar-primary">
      <ul class="navbar-primary-menu">
        <li>
          <a href="/"><span class="nav-label">Home</span></a>
          <a href="account"><span class="nav-label">Profile</span></a>
          <a href="/about"><span class="nav-label">About</span></a>
          <a href="list"><span class="nav-label">List a Plant</span></a>
          <a href="/logout"><span class="nav-label">Logout</span></a>
        </li>
      </ul>
    </nav>
  </section> 

    <!-- MAKE A LIST -->
    <div class="container mt-5 second-background list-control">
   
      <form class="row insert_post" action="" method="POST">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h1 class="mt-5 mb-5 font-color" >List an item</h1>
          <div class="form-label-group">
            <label class="font-color" for="plant_name">Plant Name</label>
            <input type="text" id="plant_name" class="form-control mb-2" name="plant_name"  required autofocus>
          </div>
          <div class="form-label-group">
            <label class="font-color" for="description">Description</label>
            <input type="text" id="description" class="form-control mb-2" name="description" required>
          </div>
          <div class="form-label-group">
            <label class="font-color" for="price">Price</label>
            <input type="text" id="price" class="form-control mb-2" name="price" required>
          </div>
          <div class="form-label-group">
            <label class="font-color" for="image_url">Image URL</label>
            <input type="text" id="image_url" class="form-control mb-2" name="image_url" required>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h4 class="categoryHeading mb-3">Category</h4>
            <input type="checkbox" class="hidden" name="Indoor" id="Indoor">
            <label for="Indoor">Indoor</label>
            <input type="checkbox" class="hidden" name="Outdoor" id="Outdoor">
            <label for="Outdoor">Outdoor</label>
            <input type="checkbox" class="hidden" name="Ferns" id="Ferns">
            <label for="Ferns">Ferns</label><br>
            <input type="checkbox" class="hidden" name="Trees" id="Trees">
            <label for="Trees">Trees</label>
            <input type="checkbox" class="hidden" name="Tropical" id="Tropical">
            <label for="Tropical">Tropical</label>
            <input type="checkbox" class="hidden" name="Cacti" id="Cacti">
            <label for="Cacti">Cacti</label><br>

            <h4 class="careHeading">Care</h4>
            <div class="dropdown">  
              <button type="button" class="dropbtn" data-toggle="dropdown">  
                <i class="fas fa-ruler fa-lg"></i>
              </button>  
              <div class="dropdown-menu">  
                  <a class="dropdown-item" href="#"> 1 </a>  
                  <a class="dropdown-item" href="#"> 2 </a>  
                  <a class="dropdown-item" href="#"> 3 </a>  
                  <a class="dropdown-item" href="#"> 4 </a>  
              </div>  
            </div> 
            <div class="dropdown">  
              <button type="button" class="dropbtn" data-toggle="dropdown">  
                <i class="fas fa-tint fa-lg"></i>
              </button>  
              <div class="dropdown-menu">  
                  <a class="dropdown-item" href="#"> 1 </a>  
                  <a class="dropdown-item" href="#"> 2 </a>  
                  <a class="dropdown-item" href="#"> 3 </a>  
                  <a class="dropdown-item" href="#"> 4 </a>  
              </div>  
            </div> 
            <div class="dropdown">  
              <button type="button" class="dropbtn" data-toggle="dropdown">  
                <i class="fas fa-cloud-sun fa-lg"></i>
              </button>  
              <div class="dropdown-menu">  
                  <a class="dropdown-item" href="#"> 1 </a>  
                  <a class="dropdown-item" href="#"> 2 </a>  
                  <a class="dropdown-item" href="#"> 3 </a>  
                  <a class="dropdown-item" href="#"> 4 </a>  
              </div>  
            </div> 
            <div class="dropdown">  
              <button type="button" class="dropbtn" data-toggle="dropdown">  
                <i class="fas fa-thermometer-half fa-lg"></i>
              </button>  
              <div class="dropdown-menu">  
                  <a class="dropdown-item" href="#"> 1 </a>  
                  <a class="dropdown-item" href="#"> 2 </a>  
                  <a class="dropdown-item" href="#"> 3 </a>  
                  <a class="dropdown-item" href="#"> 4 </a>  
              </div>  
            </div> 

            <div class="container tradebtns">
              <div class="row">
                <div class="col text-center">
                  <label for="Sell">Sell $</label><br>
                  <input type="checkbox" class="checkbox-round" name="Sell" id="Sell">
                </div>
                <div class="col text-center">
                  <label for="Trade">Trade</label><br>
                  <input type="checkbox" class="checkbox-round" name="Trade" id="Trade">
                </div>

                <div class="col text-center">
                  <label for="Both">Both</label><br>
                  <input type="checkbox" class="checkbox-round" name="Both" id="Both">
                </div>
              </div>
            </div>
        </div>

        <button class="btn submit-btn col-2 m-5 primarybtn" type="submit" id="submit-btn" value="POST">Post</button>
      </form>
      <a class="cancelButton m-5" onclick="goBack()">Cancel</a>

    </div>



    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../script.js"></script>
</body>

</html>