*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #DEEDED;

}

p{
  color: #053642;
}
/*********************************** Colors*/
.second-background {
  background-color: #ECF6F6;
}




/*********************************** NAVBAR (NATALLIA) */

.navbar-primary {
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0;
  padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: #053642;
  text-decoration: none;
}

.navbar-primary-menu li a:hover {
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}


/*********************************** Profile Page */

.navbar-toggler-icon {
  background-color: #053642;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color:#053642 ;
}

.header{
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
  padding: 15px;
}


/************************************* LOG IN - SIGN UP (HAYLEY) */

/* ///////////////FORMS///////////////*/
  .form-container{
    background-color:#ECF6F6 ;
    border-radius: 25px;
  }

  /* .form-input{
    border: none;
    border-bottom: 1px solid #053642;
    outline: none;
  } */

 


/* //////////////BUTTONS///////////////// */
  .primary-btn {
    text-align: center; 
    margin-top: 50px;
    background:#236F99 ;
    border-radius: 20px;
    color:#DEEDED;
    
  }
  
  .secondary-btn {
    text-align: center; 
    margin-top: 50px;
    background:#B4E1E2 ;
    border-radius: 20px;
  }
  

/************************************* MAKE A LIST (ALEX-Nat) */

  /*CATEGORY*/
  .hidden {position:absolute;visibility:hidden;opacity:0;}
    input[type=checkbox] + label {
    color: black;
    font-style: italic;
    border: 2px solid #77D0D6;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #DEFFEF;
  }  
  input[type=checkbox]:checked + label {
    color: black;
    font-style: normal;
    border: 2px solid #DEFFEF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #77D0D6;
    }

  .checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: #77D0D6;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #77D0D6;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  } 

  .dropbtn {
    background-color: #F35B54;
    color: white;
    font-size: 16px;
    border-width: 0 0 1px;
    border-radius: 15px;
    width: 80px;
    height: 50px;
    } 
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .checkbox-round:checked {
    background-color: #DEFFEF;
  }

  #plant_name, #description, #price, #image_url {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    fill: none;
    background: transparent;
  }

  
  .submitbtn {
    text-align: center; 
    margin-top: 50px;
  }

  .insert_post input[type='text'],
  .insert_post textarea{
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 16px;
      margin-top:5px;
  } 

  .list-control {
    border-radius: 15px;
  }



/********************************************** Dropdown Content (Hidden by Default) */
/* .dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
} */

/* ******************************************Links inside the dropdown */
/* .dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
} */

/*************************************** Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #F35B54;} */

/* This align the icon to the right */
/* #icon{
  align-items: right;
} */




/* Home page - Alex */

.loginButtonHome {
  text-align: center;
  margin-top: 50px;
  background:#236F99 ;
  border-radius: 20px;
  color:#DEEDED;
  width: 80%;
  margin-left: 10%;
}

.signupButtonHome {
  text-align: center; 
  margin-top: 25px;
  background:#236F99 ;
  border-radius: 20px;
  color:#DEEDED;
  width: 80%;
  margin-left: 10%;
}

.justbrowsingButtonHome {
  text-align: center; 
  margin-top: 25px;
  background:#236F99 ;
  border-radius: 20px;
  color:#DEEDED;
  width: 80%;
  margin-left: 10%;
}

.logoHome {
  width: auto;
  height: 200px;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
